<p-table [value]="editoras" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}" #dt1 [globalFilterFields]="['nome', 'editora.nome']">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <button class="btn btn-primary" (click)="abrirDialogParaCriarEditora()"><i class="bi bi-plus-lg"></i> Adicionar Editora</button>
      </div>
      <br>
    <span class="p-input-icon-left ml-auto">
      <i class="pi pi-search"></i>
      <input #inputSearch pInputText type="text" class="form-con" (input)="dt1.filterGlobal(inputSearch.value, 'contains')" placeholder="Pesquisar Editora" />
  </span>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-editora>
        <tr>
            <td>{{ editora.id }}</td>
            <td>{{ editora.nome }}</td>
            <td>
              <button class="btn btn-warning text-white m-2" data-toggle="tooltip" data-placement="bottom" title="Editar" (click)="abrirDialogParaEditarEditora()"><i class="bi bi-pencil-square"></i></button>
              <button class="btn btn-danger m-2" data-toggle="tooltip" data-placement="bottom" title="Apagar"><i class="bi bi-trash-fill"></i></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
          Total de Editoras: {{editoras ? editoras.length : 0 }}
      </div>
  </ng-template>
  </p-table>



  <p-dialog header="Editar Editora" [(visible)]="visibleDialogEditarEditora" [style]="{width: '50vw'}" [draggable]="false">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p-footer>
      <button class="btn btn-danger m-2"><i class="bi bi-arrow-left"></i> Voltar</button>
      <button class="btn btn-success m-2"><i class="bi bi-check"></i> Confirmar</button>
    </p-footer>
</p-dialog>

<p-dialog header="Adicionar Editora" [(visible)]="visibleDialogCriarEditora" [style]="{width: '50vw'}" [draggable]="false" [closable]="false">
  <div class="container">
    <label for="nome-autor">Nome da Editora</label>
    <input type="text" class="form-control" id="nome-autor" required [(ngModel)]="nomeDaEditora" #nomeEditoraInput="ngModel">
    <div *ngIf="nomeEditoraInput.invalid && (nomeEditoraInput.dirty || nomeEditoraInput.touched)" class="text-danger">
      Nome da Editora é obrigatório.
    </div>
  </div>
  <p-footer>
    <button class="btn btn-danger m-2" (click)="fecharDialogParaCriarEditora()"><i class="bi bi-arrow-left"></i> Voltar</button>
    <button class="btn btn-success m-2" (click)="criaNovaEditora()" [disabled]="!nomeEditoraInput.valid"><i class="bi bi-check"></i> Confirmar</button>
  </p-footer>
</p-dialog>

