<p-table [value]="editoras" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}" #dt1 [globalFilterFields]="['nome', 'editora.nome']">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <button class="btn btn-primary" (click)="abrirDialogParaCriarEditora()"><i class="bi bi-plus-lg"></i> Adicionar Editora</button>
      </div>
      <br>
    <span class="p-input-icon-left ml-auto">
      <i class="pi pi-search"></i>
      <input #inputSearch pInputText type="text" class="form-con" (input)="dt1.filterGlobal(inputSearch.value, 'contains')" placeholder="Pesquisar Editora" />
  </span>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-editora>
        <tr>
            <td>{{ editora.id }}</td>
            <td>{{ editora.nome }}</td>
            <td>
              <button class="btn btn-warning text-white m-2" data-toggle="tooltip" data-placement="bottom" title="Editar" (click)="abrirDialogParaEditarEditora(editora)"><i class="bi bi-pencil-square"></i></button>
              <button class="btn btn-danger m-2" data-toggle="tooltip" data-placement="bottom" title="Apagar" (click)="abrirDialogParaApagarEditora(editora)"><i class="bi bi-trash-fill"></i></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
          Total de Editoras: {{editoras ? editoras.length : 0 }}
      </div>
  </ng-template>
  </p-table>



  <p-dialog header="Editar Editora" [(visible)]="visibleDialogEditarEditora" [style]="{width: '50vw'}" [draggable]="false">
    <div class="container">
      <label for="nome-autor">Nome da Editora</label>
      <input type="text" class="form-control" id="nome-autor" required [(ngModel)]="nomeDaEditoraQueSeraEditada" #nomeEditoraInput="ngModel" value="{{editoraQueSeraEditada.nome}}">
      <div *ngIf="nomeEditoraInput.invalid && (nomeEditoraInput.dirty || nomeEditoraInput.touched)" class="text-danger">
        Nome da Editora é obrigatório.
      </div>
    </div>
    <p-footer>
      <button class="btn btn-danger m-2" (click)="fecharDialogParaEditarEditora()"><i class="bi bi-arrow-left"></i> Voltar</button>
      <button class="btn btn-success m-2" (click)="editaEditora()"><i class="bi bi-check"></i> Confirmar</button>
    </p-footer>
</p-dialog>

<p-dialog header="Adicionar Editora" [(visible)]="visibleDialogCriarEditora" [style]="{width: '50vw'}" [draggable]="false" [closable]="false">
  <div class="container">
    <label for="nome-autor">Nome da Editora</label>
    <input type="text" class="form-control" id="nome-autor" required [(ngModel)]="nomeDaEditora" #nomeEditoraInput="ngModel">
    <div *ngIf="nomeEditoraInput.invalid && (nomeEditoraInput.dirty || nomeEditoraInput.touched)" class="text-danger">
      Nome da Editora é obrigatório.
    </div>
  </div>
  <p-footer>
    <button class="btn btn-danger m-2" (click)="fecharDialogParaCriarEditora()"><i class="bi bi-arrow-left"></i> Voltar</button>
    <button class="btn btn-success m-2" (click)="criaNovaEditora()" [disabled]="!nomeDaEditora"><i class="bi bi-check"></i> Confirmar</button>
  </p-footer>
</p-dialog>

<p-dialog header="Excluir Editora" [(visible)]="visibleDialogApagarEditora" [style]="{width: '50vw'}" [draggable]="false" [closable]="false">
  <p>Está Ação é <b>irreversível</b> tem certeza que deseja excluir a editora <b>{{editoraQueSeraApagada.nome}}</b> ?</p>

  <p-footer>
    <button class="btn btn-danger m-2" (click)="fecharDialogParaApagarEditora()"><i class="bi bi-arrow-left"></i> Voltar</button>
    <button class="btn btn-success" (click)="deletaEditora()"><i class="bi bi-check"></i> Confirmar</button>
  </p-footer>
</p-dialog>

