<p-table [value]="livrosPorAutorEGenero" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}" #dt1 [globalFilterFields]="['nomeAutor', 'livro.nomeAutor']">
  <ng-template pTemplate="caption">
    <span class="p-input-icon-left ml-auto">
      <i class="pi pi-search"></i>
      <input #inputSearch pInputText type="text" class="form-con" (input)="dt1.filterGlobal(inputSearch.value, 'contains')" placeholder="Pesquisar Autor" />
  </span>
  </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Nome do Autor</th>
            <th>Nome do Genero</th>
            <th>Quantidade De Livros</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-livro>
        <tr>
            <td>{{livro.nomeAutor}}</td>
            <td>{{livro.nomeGenero}}</td>
            <td>{{livro.quantidadeLivros}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        Total de Autores: {{livrosPorAutorEGenero ? livrosPorAutorEGenero.length : 0}}
      </div>
    </ng-template>
</p-table>
