<p-table [value]="pessoas" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}" #dt1 [globalFilterFields]="['nome', 'pessoa.nome']">
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
        <button class="btn btn-primary" (click)="abrirDialogParaCriarPessoa()"><i class="bi bi-plus-lg"></i> Adicionar Pessoa</button>
    </div>
    <br>
    <span class="p-input-icon-left ml-auto">
      <i class="pi pi-search"></i>
      <input #inputSearch pInputText type="text" class="form-con" (input)="dt1.filterGlobal(inputSearch.value, 'contains')" placeholder="Pesquisar Pessoa" />
  </span>
  </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Ações</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pessoa>
        <tr>
            <td>{{ pessoa.id }}</td>
            <td>{{ pessoa.nome }}</td>
            <td>{{pessoa.endereco}}</td>
            <td>
              <button class="btn btn-warning text-white m-2" data-toggle="tooltip" data-placement="bottom" title="Editar" (click)="abrirDialogParaEditarPessoa()"><i class="bi bi-pencil-square"></i></button>
              <button class="btn btn-danger m-2" data-toggle="tooltip" data-placement="bottom" title="Apagar" (click)="abrirDialogParaApagarPessoa(pessoa)"><i class="bi bi-trash-fill"></i></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
          Total de Pessoas: {{pessoas ? pessoas.length : 0 }}
      </div>
  </ng-template>
  </p-table>



  <p-dialog header="Editar Pessoa" [(visible)]="visibleDialogEditarPessoa" [style]="{width: '50vw'}" [draggable]="false">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p-footer>
      <button class="btn btn-danger m-2"><i class="bi bi-arrow-left"></i> Voltar</button>
      <button class="btn btn-success m-2"><i class="bi bi-check"></i> Confirmar</button>
    </p-footer>
</p-dialog>


<p-dialog header="Adicionar Pessoa" [(visible)]="visibleDialogCriarPessoa" [style]="{width: '50vw'}" [draggable]="false" [closable]="false">
  <div class="container">
    <label for="nome-pessoa">Nome da Pessoa</label>
    <input type="text" class="form-control" id="nome-pessoa" required [(ngModel)]="nomeDaPessoa" #nomePessoaInput="ngModel">
    <div *ngIf="nomePessoaInput.invalid && (nomePessoaInput.dirty || nomePessoaInput.touched)" class="text-danger">
      Nome da Pessoa é obrigatório.
    </div>
    <label for="endereco-pessoa">Endereço da Pessoa</label>
    <input type="text" class="form-control" id="endereco-pessoa" required [(ngModel)]="enderecoDaPessoa" #enderecoPessoaInput="ngModel">
    <div *ngIf="enderecoPessoaInput.invalid && (enderecoPessoaInput.dirty || enderecoPessoaInput.touched)" class="text-danger">
      Endereço da Pessoa é obrigatório.
    </div>
    <p-footer>
      <button class="btn btn-danger m-2" (click)="fecharDialogParaCriarPessoa()"><i class="bi bi-arrow-left"></i> Voltar</button>
      <button class="btn btn-success m-2" (click)="criaNovaPessoa()" [disabled]="!nomePessoaInput.valid && !enderecoPessoaInput.valid"><i class="bi bi-check"></i> Confirmar</button>
    </p-footer>
  </div>
</p-dialog>

<p-dialog header="Apagar Pessoa" [(visible)]="visibleDialogApagarPessoa" [style]="{width: '50vw'}" [draggable]="false" [closable]="false">
  <p>Está Ação é <b>irreversível</b> tem certeza que deseja excluir a pessoa <b>{{pessoaSelecionadaParaApagar.nome}}</b> ?</p>

  <p-footer>
    <button class="btn btn-danger m-2" (click)="fecharDialogParaApagarPessoa()"><i class="bi bi-arrow-left"></i> Voltar</button>
    <button class="btn btn-success m-2" (click)="apagaPessoa()"><i class="bi bi-check"></i> Confirmar</button>
  </p-footer>
</p-dialog>
