<p-table [value]="livros" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}" #dt1 [globalFilterFields]="['nome', 'livro.nome']">
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      <button class="btn btn-primary" (click)="abrirDialogParaCriarLivro()"><i class="bi bi-plus-lg"></i> Adicionar Livro</button>
  </div>
  <br>
    <span class="p-input-icon-left ml-auto">
      <i class="pi pi-search"></i>
      <input #inputSearch pInputText type="text" class="form-con" (input)="dt1.filterGlobal(inputSearch.value, 'contains')" placeholder="Pesquisar Livro" />
  </span>
  </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Quantidade Emprestada</th>
            <th>Data do Ultimo Empréstimo</th>
            <th>Disponível</th>
            <th>Editora</th>
            <th>Genero</th>
            <th>Autor</th>
            <th>Pessoa Emprestado</th>
            <th>Ações</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-livro>
        <tr>
            <td>{{ livro.id }}</td>
            <td>{{ livro.nome }}</td>
            <td>{{livro.quantidadeEmprestada}}</td>
            <td>{{livro.dataDoUltimoEmprestimo}}</td>
            <td *ngIf="livro.disponivel">Sim</td>
            <td *ngIf="!livro.disponivel">Não</td>
            <td>{{livro.editora?.nome}}</td>
            <td>{{livro.genero?.nome}}</td>
            <td>{{livro.autor?.nome}}</td>
            <td *ngIf="livro.pessoaEmprestado">{{livro.pessoaEmprestado.nome}}</td>
            <td *ngIf="!livro.pessoaEmprestado">Este livro não está emprestado</td>
            <td>
              <button class="btn btn-warning text-white m-2" data-toggle="tooltip" data-placement="bottom" title="Editar" (click)="abrirDialogParaEditarLivro(livro)"><i class="bi bi-pencil-square"></i></button>
              <button class="btn btn-danger m-2" data-toggle="tooltip" data-placement="bottom" title="Apagar" (click)="abrirDialogParaApagarLivro(livro)"><i class="bi bi-trash-fill"></i></button>
              <button class="btn btn-success m-2" data-toggle="tooltip" data-placement="bottom" title="Emprestar Livro" (click)="abrirDialogParaEmprestarLivro(livro)" [disabled]="!livro.disponivel"><i class="bi bi-box-arrow-up-right"></i></button>
              <button class="btn btn-primary m-2" data-toggle="tooltip" data-placement="bottom" title="Devolver Livro" (click)="abrirDialogParaDevolverLivro(livro)" [disabled]="livro.disponivel"><i class="bi bi-box-arrow-up-left"></i></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
          Total de Livros: {{livros ? livros.length : 0 }}
      </div>
  </ng-template>
  </p-table>


  <p-dialog header="Editar Livro" [(visible)]="visibleDialogEditarLivro" [style]="{width: '50vw'}" [draggable]="false" [closable]="false">
    <div class="container">
      <label for="nome-livro">Nome do Livro</label>
      <input type="text" class="form-control" id="nome-livro" required [(ngModel)]="nomeDoLivroSelecionadoParaEditar" value="{{livroSelecionadoParaEditar.nome}}">
      <p>Nome Da Editora</p>
      <p-dropdown [options]="editoras" optionLabel="nome" [(ngModel)]="nomeDaEditoraDoLivroSelecionadoParaEditar"  placeholder="Selecione uma editora"></p-dropdown>
      <p>Nome do Genero</p>
      <p-dropdown [options]="generos" optionLabel="nome" [(ngModel)]="generoDoLivroSelecionadoParaEditar" placeholder="Selecione um genero"></p-dropdown>
      <p>Nome do Autor</p>
      <p-dropdown [options]="autores" optionLabel="nome" [(ngModel)]="autorDoLivroSelecionadoParaEditar" placeholder="Selecione um autor"></p-dropdown>
      <p>Pessoa Emprestado</p>
      <p-dropdown [options]="pessoas" optionLabel="nome" [(ngModel)]="pessoaDoLivroSelecionadoParaEditar"></p-dropdown>
      <br>
      <label for="quantidade-emprestada">Quantidade Emprestada</label>
      <input type="number" class="form-control" id="quantidade-emprestada" [(ngModel)]="quantidadeEmprestadaDoLivroSelecionadoParaEditar" value="{{livroSelecionadoParaEditar.quantidadeEmprestada}}">
      <label for="data-emprestado">Data do Último Empréstimo</label>
      <input type="date" class="form-control" id="data-emprestado" required [(ngModel)]="dataDoUltimoEmprestimoDoLivroSelecionadoParaEditar" value="{{livroSelecionadoParaEditar.dataDoUltimoEmprestimo}}">
      <br>
      <p>Está Disponível?</p>
      <p-selectButton [options]="stateOptions" [(ngModel)]="valueDoLivroSelecionadoParaEditar" optionLabel="label" optionValue="value"></p-selectButton>
    </div>
    <p-footer>
      <button class="btn btn-danger m-2" (click)="fecharDialogParaEditarLivro()"><i class="bi bi-arrow-left"></i> Voltar</button>
      <button class="btn btn-success m-2" (click)="editaLivro()"><i class="bi bi-check"></i> Confirmar</button>
    </p-footer>
</p-dialog>


<p-dialog header="Criar Livro" [(visible)]="visibleDialogCriarLivro" [style]="{ width: '50vw', height: '800px' }" [draggable]="false" [closable]="false" [blockScroll]="true">
  <div class="container">
    <label for="nome-livro">Nome do Livro</label>
    <input type="text" class="form-control" id="nome-livro" required [(ngModel)]="nomeDoLivro">
    <p>Nome Da Editora</p>
    <p-dropdown [options]="editoras" optionLabel="nome" [(ngModel)]="editoraSelecionada"  placeholder="Selecione uma editora"></p-dropdown>
    <p>Nome do Genero</p>
    <p-dropdown [options]="generos" optionLabel="nome" [(ngModel)]="generoSelecionado" placeholder="Selecione um genero"></p-dropdown>
    <p>Nome do Autor</p>
    <p-dropdown [options]="autores" optionLabel="nome" [(ngModel)]="autorSelecionado" placeholder="Selecione um autor"></p-dropdown>
    <p>Pessoa Emprestado</p>
    <p-dropdown [options]="pessoas" optionLabel="nome" [(ngModel)]="pessoaSelecionada"></p-dropdown>
    <br>
    <label for="quantidade-emprestada">Quantidade Emprestada</label>
    <input type="number" class="form-control" id="quantidade-emprestada" [(ngModel)]="quantidadeEmprestada">
    <label for="data-emprestado">Data do Último Empréstimo</label>
    <input type="date" class="form-control" id="data-emprestado" required [(ngModel)]="dataDoUltimoEmprestimo">
    <br>
    <p>Está Disponível?</p>
    <p-selectButton [options]="stateOptions" [(ngModel)]="value" optionLabel="label" optionValue="value"></p-selectButton>
  </div>
  <p-footer>
      <button class="btn btn-danger m-2" (click)="fecharDialogParaCriarLivro()"><i class="bi bi-arrow-left"></i> Voltar</button>
      <button class="btn btn-success m-2" (click)="criaNovoLivro()"><i class="bi bi-check"></i> Confirmar</button>
  </p-footer>
</p-dialog>


<p-dialog header="Emprestar Livro" [(visible)]="visibleDialogEmprestarLivro" [style]="{width: '50vw', height: '400px'}" [draggable]="false" [closable]="false">
  <b>Informações do Livro</b>
  <br>
  <b>Nome</b>: {{livroSelecionadoParaEmprestar.nome}}
  <p>Selecione a pesssoa que vai pegar o livro emprestado</p>
  <p-dropdown [options]="pessoas" optionLabel="nome" [(ngModel)]="pessoaSelecionadaParaEmprestarLivro"></p-dropdown>
  <p-footer>
    <button class="btn btn-danger m-2" (click)="fecharDialogParaEmprestarLivro()"><i class="bi bi-arrow-left"></i> Voltar</button>
    <button class="btn btn-success m-2" (click)="emprestaLivro()"><i class="bi bi-check" ></i> Confirmar</button>
  </p-footer>
</p-dialog>

<p-dialog header="Devolver Livro" [(visible)]="visibleDialogDevolverLivro" [style]="{width: '50vw', height: '400px'}" [draggable]="false" [closable]="false">
  <b>Informações do Livro</b>
  <br>
  <b>Nome</b>: {{livroSelecionadoParaDevolver.nome}}
  <p-footer>
    <button class="btn btn-danger m-2" (click)="fecharDialogParaDevolverLivro()"><i class="bi bi-arrow-left"></i> Voltar</button>
    <button class="btn btn-success m-2" (click)="devolveLivro()"><i class="bi bi-check"></i> Confirmar</button>
  </p-footer>
</p-dialog>

<p-dialog header="Excluir Livro" [(visible)]="visibleDialogApagarLivro" [style]="{width: '50vw'}" [draggable]="false" [closable]="false">
  <p>Está Ação é <b>irreversível</b> tem certeza que deseja excluir o livro <b>{{livroSelecionadoParaApagar.nome}}</b> ?</p>

  <p-footer>
    <button class="btn btn-danger m-2" (click)="fecharDialogParaApagarLivro()"><i class="bi bi-arrow-left"></i> Voltar</button>
    <button class="btn btn-success m-2" (click)="apagaLivro()"><i class="bi bi-check"></i> Confirmar</button>
  </p-footer>
</p-dialog>
